table.loop-documents-table {
  width: 100%;

  th {
    background: #ccc;
    text-align: center;
  }

  th, td {
    vertical-align: top;
  }

  p {
    margin-top: 0;
  }

  &-steps {
    td:first-child {
      width: 10%;
      text-align: center;
    }
  }
}
