/**
 * Quickbox module
 */

.quickbox {
  margin-bottom: 1em;
  position: relative;
  box-sizing: border-box;
  padding: 1em;
  border-width: 3px;
  border-style: solid;
  &--underlay{
    &:before {
      content: "";
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      display: block;
      background: inherit;
      opacity: .1;
      left:0;
      right:0;
    }
  }
  &--inner {
    position: relative;
  }

  table {
    table-layout: fixed;
  }
}