/**
 *
 * Search filters for node search.
 *
 */


/* Placeholders related to this document
   ========================================================================== */
%search-filters-label {
  background: $white;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-right: 1px solid;
  border-color: $green;
  color: $green;
  cursor: pointer;
  flex: 1 0 auto;
  padding: .5em;
  text-align: center;

  &:first-child {
    border-left: 1px solid;
    border-color: $green;

    @include border-radius($border-radius 0 0 $border-radius);
  }

  &:last-child {
    @include border-radius(0 $border-radius $border-radius 0);
  }

  &:first-child:last-child {
    @include border-radius($border-radius);
  }

  &.is-active {
    background: $green;
    color: $white;
  }
}


/* Search filters
   ========================================================================== */
.search-filters {
  background: $gray-lightest;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: $margin-bottom;
  padding: 0 1.25em;

  @include border-radius(0 0 $border-radius $border-radius);

  &--search-box {
    background: $gray-lightest;
    padding: 2em 1.25em;

    @include border-radius($border-radius $border-radius 0 0 );
  }

  &--type {
    display: flex;
    flex: 0 0 100%;
    margin: 2em 0;

    @include breakpoint($breakpoint-4) {
      flex: 0 0 60%;
    }
  }

  &--subject-wrapper {
    display: flex;
    flex: 0 0 100%;
    margin: 2em 0;

    @include breakpoint($breakpoint-4) {
      flex: 0 1 35%;
    }
  }

  &--subjects {
    background: $white;
    box-sizing: border-box;
    flex: 0 0 100%;
    margin-bottom: 1.25em;
    padding: 1em 2em;
    position: relative;

    @include border-radius($border-radius);

    &-inner {
      display: flex;
      flex-wrap: wrap;
    }

    &-item {
      flex: 1 0 100%;

      @include breakpoint(800px) {
        flex: 0 1 50%;
      }

      @include breakpoint(1000px) {
        flex: 0 1 33%;
      }

      &-inner {
        box-sizing: border-box;
        display: flex;
        height: 60px;
        padding-bottom: 1em;
        padding-left: 21px;
        padding-right: 2em;
        padding-top: 1em;

        input[type=checkbox] {
          @include checkbox();
          border-color: $green;

          &:checked {
            border-color: $green;
            background-color: $green;
          }
        }

        input {
          margin-left: -21px;
        }
      }
    }
  }

  &--label {
    @extend %search-filters-label;
  }

  &--arrow {
    position: absolute;
    top:-30px;
    right: 80px;
    height: 30px;
    width: 30px;
    display: block;

    &-inner {
      border-width: 15px;
      border-style: solid;
      border-color: transparent;
      border-bottom-color: $white;
    }
  }

  &--icon-dropdown {
    position: absolute;
    top: .85em;
    right: 1em;
    max-width: .85em;
  }

  &--subjects-wrapper {
    width:100%;
  }

  &--subject-wrapper-label {
    position: relative;

    @extend %search-filters-label;

    @include border-radius($border-radius);

    @extend %arrow-down;
  }

  &--action {
    @extend .button--action;

    background-color: $green;
    border-color: $green;

    padding:.4em 0 .5em;
    width: 100%;

    &:hover {
      background-color: $green;/*! setting:term_hover_background_color */
      border-color: $green;/*! setting:term_hover_background_color */
    }
  }

  // Sorting
  &--sort {
    align-items: center;
    background: $gray-lightest;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 1.25em;

    @include border-radius($border-radius $border-radius 0 0 );

    &-text {
      color: $gray-dark;
      font-weight: bold;
      flex: 0 0 auto;
    }

    &-labels{
      display: flex;
      margin-left: 1.5em;
      flex: 0 0 auto;
    }

    .search-filters--label {
      font-size: .85em;
    }
  }
}

// Styling for search filters links module
.search-filter--links {
  overflow: hidden;
  margin-bottom: 1.5em;

  &--wrapper {
    background: $gray-lightest;
    border-radius: 0;
    border: 0;
    margin: 0;
    padding: 0;
    min-height: 3em;
    position: relative;

    legend {
      position: absolute;
      right: 0;
      top: 10px;
    }

    .fieldset-legend {
      font-size: 1em;
      padding-right: 1em;
      color: #04bfbf;
      cursor: pointer;
      text-decoration: underline;
    }

    .search-filter--links {
      margin: 0;
      transform: scaleY(0);
      padding: 0;
      margin-top: 50px;
      height:0;
      transform-origin: top;

      &.open {
        transition: transform .5s ease-in;
        transform: scaleY(1);
        height:auto;
      }

      &-inner {
        background: $white;
      }
    }
  }

  .search-filter--label {
    padding: 0 1em;
  }

  .search-filter--link-wrapper {
    width: 100%;
    padding:1em;
    box-sizing: border-box;
    float:left;

    @include breakpoint(490px) {
      width: 50%;
    }

    @include breakpoint(960px) {
      width: 25%;
    }
  }

  .search-filter--link {
    border-radius:.4em;
    text-decoration: none;
    width: 100%;
    display: block;
    padding: .5em 0;
    text-align: center;
    color:$white;
  }
}
